---
layout: base
---
<div class="page-wrapper">
  {% include {{page.header}} page=page %}
  <section id="learning-circles" class="container search">
    <div class="row">
      <div class="col-12 mb-3">

        <div class="callout alt p-3 text-center">
          <h1 class="mb-4">Find a learning circle in Pittsburgh</h1>
          <p><a href="https://www.p2pu.org/pittsburgh/" class="p2pu-btn btn orange">Search open learning circles</a></p>
        </div>

      </div>
    </div>
  </section>
</div>
